#container {
	background: lightblue;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calcShell {
	background: #e8ecf2;
	width: 400px;
	height: 500px;
}

#calcShell {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px;
	grid-template-rows: auto;
	grid-template-areas:
		'display display display display'
		'button7 button8 button9 buttonDivide'
		'button4 button5 button6 buttonTimes'
		'button1 button2 button3 buttonMinus'
		'button0 button0 buttonPlus buttonPlus';
	gap: 10px 10px;
}

.display {
	border: 2px solid black;
}

button {
	background-color: #e8ecf2;
	color: #73787d;
	border-radius: 45px;

	box-shadow: -5px -5px 10px rgba(225, 225, 225, 0.8),
		5px 5px 10px rgba(0, 0, 0, 0.25);
}

.display {
	grid-area: display;
}

.button1 {
	grid-area: button;
}
.button2 {
	grid-area: button2;
}
.button3 {
	grid-area: button3;
}
.button4 {
	grid-area: button4;
}
.button5 {
	grid-area: button5;
}
.button6 {
	grid-area: button6;
}
.button7 {
	grid-area: button7;
}
.button8 {
	grid-area: button8;
}
.button9 {
	grid-area: button9;
}
.button0 {
	grid-area: button0;
}
.buttonMinus {
	grid-area: buttonMinus;
}
.buttonPlus {
	grid-area: buttonPlus;
}
.buttonTimes {
	grid-area: buttonTimes;
}
.buttonDivide {
	grid-area: buttonDivide;
}
